<div class="max-w-2xl container mx-auto pt-5">
  <form [formGroup]="form">
    <input
      type="text"
      class="max-w-2xl border p-2 w-full h-14"
      formControlName="password"
      placeholder="Type a password..."
    />
    <ul class="flex-row flex justify-around m-6">
      <li
        [ngClass]="{
          'bg-slate-400': password.errors?.required,
          'bg-red-400':
            password.errors?.minlength ||
            (!password.errors?.minlength &&
              !password.errors?.required &&
              password.errors?.easyPassword &&
              !password.errors?.strongPassword),

          'bg-yellow-400':
            password.errors?.easyPassword &&
            password.errors?.mediumPassword &&
            !password.errors?.strongPassword &&
            !password.errors?.minlength &&
            !password.errors?.required,

          'bg-green-400':
            password.errors?.easyPassword &&
            password.errors?.mediumPassword &&
            password.errors?.strongPassword &&
            !password.errors?.minlength &&
            !password.errors?.required
        }"
      >
        Easy
      </li>
      <li
        [ngClass]="{
          'bg-slate-400':
            password.errors?.required || password.errors?.easyPassword,
          'bg-red-400': password.errors?.minlength,

          'bg-yellow-400':
            password.errors?.easyPassword &&
            password.errors?.mediumPassword &&
            !password.errors?.strongPassword &&
            !password.errors?.minlength &&
            !password.errors?.required,
          'bg-green-400':
            password.errors?.easyPassword &&
            password.errors?.mediumPassword &&
            password.errors?.strongPassword &&
            !password.errors?.minlength &&
            !password.errors?.required
        }"
      >
        Medium
      </li>
      <li
        [ngClass]="{
          'bg-slate-400':
            password.errors?.required ||
            password.errors?.easyPassword ||
            password.errors?.mediumPassword,
          'bg-red-400': password.errors?.minlength,
          'bg-green-400':
            password.errors?.easyPassword &&
            password.errors?.mediumPassword &&
            password.errors?.strongPassword &&
            !password.errors?.minlength &&
            !password.errors?.required
        }"
      >
        Strong
      </li>
    </ul>
  </form>
</div>
